
<div id="current-container">
  <!-- task -->
  <div class="container" *ngIf="task">
    <h1 class="title has-text-primary">Current Task</h1>
    <div class="centered-content">
      <div class="task-manager-container">
        <div class="sidebar has-background-white">
          <div class="task-list-container has-background-light">
            <div>
              <a class="task-list">
                <table class="task">
                  <thead>
                    <tr>
                      <th>Task : {{ task.taskName }}</th>
                      <th>Status : {{ task.status }}</th>
                      <th>Type : {{ task.taskType }}</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <p class="task-description">{{ task.taskText }}</p>
                      <button class="button has-text-white comments-btn"
                      (click)="deleteTask()"> Delete Task </button>
                      <!-- <th class="sec-row">
                        Assigned to : {{ task.assignedTo }}
                      </th> -->
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- comments to task -->
  <div class="centered-content">
    <div class="comment-list-container has-background-light">
      <ng-container *ngIf="!isEditMode">
      <h1 class="title has-text-primary" *ngIf="!thereAreNoComments">Comments</h1>

      <div *ngIf="thereAreNoComments">
        <h3 class="title" style="color: grey">There are no comments</h3>
      </div>

      <div *ngIf="commentsList">
        <table *ngFor="let comment of commentsByTaskId" class="task">
          <tbody>
            <tr>
              <p class="task-description">{{ comment.text }}</p>
            </tr>
            <th class="sec-row">Comment Type : {{ comment.commentType }}</th>
            <button class="button has-text-white" (click)="toggleEditMode(comment._id)">Edit</button>
            <button class="button has-text-white comments-btn" 
            (click)="deleteComment(comment._id)">
            Delete
          </button>
          </tbody>
        </table>
      </div>
    </ng-container>

    <!-- EDIT MODE -->
    <ng-container *ngIf="isEditMode" >
      <h1 class="title has-text-primary">Edit Comment</h1>
      <div class="modal-box second">
      <form #form="ngForm" (ngSubmit)="editCommentText(form, comentDetails!._id)">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input
              id="text"
              class="input has-background-light is-medium"
              #CommentInput
              type="text"
              name="text"
              placeholder="Your comment"
              #text="ngModel"
              ngModel = {{comentDetails?.text}}
              required
              minlength="10"
            />
          </p>

          <ng-container *ngIf="text.touched">
            <p
              style="color: red"
              class="error"
              *ngIf="text.errors?.['required']"
            >
              The field with your comment is required.
            </p>
            <p
              style="color: red"
              class="error"
              *ngIf="text.errors?.['minlength']"
            >
              Comment text must be at least 10 characters!
            </p>
          </ng-container>

          <p class="control">
            <button class="button has-text-white space-right" (click)="toggleEditMode(comentDetails!._id)">Cancel</button>
            <button class="button has-text-white"
            [disabled]="form.invalid">
             Submit 
            </button>
          </p>
        </div>
      </form>
    </div>
    </ng-container>

      <!-- ADD NEW COMMENT -->
      <ng-container *ngIf="!isEditMode">
      <div *ngIf="isLogged" >
        <h1 class="title">Add new Comment</h1>

        <div class="modal-box">
          <form #form="ngForm" (ngSubmit)="addComment(form)" >
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input
                  id="text"
                  class="input has-background-light is-medium"
                  #CommentInput
                  type="text"
                  name="text"
                  placeholder="Your comment"
                  #text="ngModel"
                  ngModel
                  required
                  minlength="10"
                />
              </p>

              <ng-container *ngIf="text.touched">
                <p
                  style="color: red"
                  class="error"
                  *ngIf="text.errors?.['required']"
                >
                  The field with your comment is required.
                </p>
                <p
                  style="color: red"
                  class="error"
                  *ngIf="text.errors?.['minlength']"
                >
                  Comment text must be at least 10 characters!
                </p>
              </ng-container>

              <div class="input control is-expanded">
                <div class="select is-fullwidth">
                  <label>Comment type : </label>
                  <select 
                  name="commentType" 
                  class="has-background-light is-medium"
                  #commentType="ngModel"
                  ngModel>
                    <option #typeInpyt value="ADVISORY">ADVISORY</option>
                    <option #typeInpyt value="EVALUATIVE">EVALUATIVE</option>
                    <option #typeInpyt value="DISCRIPTIVE">DISCRIPTIVE</option>
                  </select>
                </div>
              </div>

              <p class="control">
                <button>
                  Submit
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </ng-container>
    </div>
  </div>
</div>

