 <main id="root">
       <section id="board-section">
      <article id="todo-section">
        <h1>ToDo</h1>
        <ul class="task-list" *ngIf="toDoTasks?.length != 0">
          <li class="task" *ngFor="let task of toDoTasks" >
            <h3>{{task.taskName | slice: 20}}</h3>
            <p>{{task.taskText | slice: 35}}</p>
            <p>{{task.taskType}}</p>
            <button id="toDo" 
            (click)="editTaskStatus(task._id, task.status)"
            >Move to In Progress</button>
          </li>
        </ul>
      </article>
      <article id="in-progress-section">
        <h1>In Progress</h1>
        <ul class="task-list" *ngIf="inProgressTasks?.length != 0">
          <li class="task" *ngFor="let task of inProgressTasks">
            <h3>{{task.taskName | slice: 20}}</h3>
            <p>{{task.taskText | slice: 35}}</p>
            <p>{{task.taskType}}</p>
            <button id="inProgress" 
            (click)="editTaskStatus(task._id, task.status)"
            >Move to Code Review</button>
          </li>
        </ul>
      </article>
      <article id="code-review-section">
        <h1>Code Review</h1>
        <ul class="task-list" *ngIf="codeReviewTasks?.length != 0">
          <li class="task" *ngFor="let task of codeReviewTasks">
            <h3>{{task.taskName| slice: 20}}</h3>
            <p>{{task.taskText | slice: 35}}</p>
            <p>{{task.taskType}}</p>
            <button id="codeReview"
            (click)="editTaskStatus(task._id, task.status)"
            >Move to Done</button>
          </li>
        </ul>
      </article>
      <article id="done-section">
        <h1>Done</h1>
        <ul class="task-list" *ngIf="doneTasks?.length != 0">
          <li class="task" *ngFor="let task of doneTasks">
            <h3>{{task.taskName | slice : 20}}</h3>
            <p>{{task.taskText | slice: 35}}</p>
            <p>{{task.taskType}}</p>
            <button id="done"
            textBtn="done"
            (click)="deleteTask(task._id)"
            >Delete</button>
          </li>
        </ul>
      </article>
    </section>
  </main>
