footer {
    background: #34495e;
    margin: 27px auto 0;
    position: relative;
    color: white;
    margin-top: 1em;
    font-size: 18px;
    bottom: 0;
    width: 95%; 
    border-radius: 8px;
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
}

footer span a {
    font-size: 1.2em;
    color: #f8f8f8;
}

