<div class="container">
  <form class="login" #form="ngForm" (ngSubmit)="login(form)">
    <fieldset>
      <h2>Login Form</h2>

      <p class="field field-icon">
        <label for="username"
          ><span><i class="fas fa-user"></i></span
        ></label>
        <input
          class="input-error"
          type="username"
          name="username"
          id="username"
          placeholder="username"
          #inputUsername="ngModel"
          ngModel
          required
          minlength="5"
        />
      </p>
      <ng-container *ngIf="inputUsername.touched">
        <p class="error" *ngIf="inputUsername.errors?.['required']">
          Username is required!
        </p>
        <p class="error" *ngIf="inputUsername.errors?.['minlength']">
          Username must be at least 5 characters!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
          #inputPassword="ngModel"
          ngModel
          required
          minlength="5"
        />
      </p>

      <ng-container *ngIf="inputPassword.touched">
        <p class="error" *ngIf="inputPassword.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="inputPassword.errors?.['minlength']">
          Password must be at least 5 characters!
        </p>
      </ng-container>

      <button
        [style]="{ backgroundColor: form.invalid ? 'grey' : '#34495e' }"
        [disabled]="form.invalid"
        class="create-account-btn"
      >
        Login
      </button>

      <p class="text-center">
        Don't have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
  <!-- да виждаме в реално време какво се попълва във формата -->
  <!-- {{ form.value | json }} -->
</div>
